nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 7%;
  box-shadow: 0 0.2rem 0 0 rgba(0,0,0,0.2);
  z-index: 100;
}
nav a{
  font-size: 2rem;
}
#light nav{
  background: var(--white);
}
#dark nav{
  background: var(--darkModeElement);
}
#light nav a, #light nav .nav-theme{
  color: var(--light);
}
#dark nav a, #dark nav .nav-theme{
  color: var(--white);
}

nav .nav-theme{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
nav .theme-icon{
  margin-right: 0.5rem;
  cursor: pointer
}
