.countries{
  margin: 4rem 0 2.5rem;
  display: flex;
  align-items: center;
  row-gap: 3rem;
  column-gap: 2rem;
  flex-wrap: wrap;
}
.countries .country{
  flex: 1 1 25rem;
  border-radius: 0.7rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.2);
}
.countries .country .image img{
  width: 100%;
  height: 18rem;
  object-fit: cover;
}
.countries .country .country-text{
  padding: 1.5rem;
}
.country-text h4{
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.country-text h5{
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.country-text h5 span{
  font-weight: 700;
  font-size: 1.5rem;
}

.countries .country .button{
  margin: 1.8rem 0 1.2rem;
}
#light .countries .country{
  background: var(--white);
  color: var(--lightModeText);
}
#dark .countries .country{
  background: var(--darkModeElement);
  color: var(--darkModeText);
}
