@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,500&display=swap');
:root{
  --darkModeElement: hsl(209, 23%, 22%);
  --darkModeBg: hsl(207, 26%, 17%);
  --lightModeText: hsl(200, 15%, 8%);
  --lightModeInput: hsl(0, 0%, 90%);
  --lightModeBg: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: all .2s linear;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
section {
  padding: 3.5rem 7%;
}
.App{
  min-height: 100vh;
}
#light.App{
  background: var(--lightModeInput);
  color: var(--lightModeText);
}
#dark.App{
  background-color: var(--darkModeBg);
  color: var(--white);
}
#light .icon{
  color: var(--lightModeText);
}
#dark .icon{
  color: var(--white);
}
.btn{
  font-size: 1.6rem;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  letter-spacing: 0.25rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}
#light .btn{
  background: var(--white);
  color: var(--lightModeText);
}
#dark .btn{
  background: var(--darkModeElement);
  color: var(--white);
}
@media (max-width: 500px) {
  html{
    font-size: 50%;
  }
}