.single-country .countries {
  column-gap: 5rem;
  row-gap: 3rem;
}
.single-country .image{
  flex: 1 1 20rem;
}
.single-country .countries .image img{
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.single-country .countries .country-text{
  flex: 1 1 40rem;
}
.single-country .countries .country-text .flex-text{
  display: flex;
  justify-content: space-between;
}
.single-country .countries .country-text h4{
  margin-bottom: 1.2rem;
}
.single-country .countries .country-text span.text{
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

/* borders */
.single-country .countries .country-text .borders{
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
  margin-right: 0.4rem;
}
.single-country .countries .country-text .borders .btn{
  margin-left: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.single-country .countries .country-text h6{
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.border-text{
  margin-left: 0.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
@media (max-width: 600px) {
  .single-country .countries {
    flex-wrap: wrap;
  }
  .single-country .countries .country-text .flex-text{
    flex-wrap: wrap;
    gap: 1rem;
  }
}